/*header font */
h1,h2{

    font-family: 'Oswald', sans-serif; 

}

/*ul List style*/
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
/*li format style */
li{
    display: inline-table;
}

#navigationBar a{
    margin-left: 45px;
    margin-right: 45px;
}
/* rest font */
body{
    font-family: 'Open Sans', sans-serif; 
}

/*font color for everything*/
html{
    color: darkblue;
}

/* margin for */
html{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

/*text width*/
html{
    width:950px;
}

html{
    background-color: ivory;
}

img{
   float: left;
  }

.left{
    float:left;
    width:300px;
    padding: 1em
}

.right{
    float: right;
    width: 300px;
    padding: 1em
}

.center{
    margin-left: 300px;
    margin-right: 300px;
    padding: 1em
}


